.input {
  padding: 5px 15px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 200px;
  min-height: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  align-items: center;
  margin: auto;
}

.link {
  text-decoration: none;
  color: #4c4cff;
}

.buttonWrapper {
  margin-bottom: 20px;
}

.inputWrapper {
  margin-bottom: 6px;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 100px;
  margin: auto;
}

.button {
  width: 200px;
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background: white;
  color: black;
  transition: 0.3s;
  cursor: pointer;
}
.button:hover {
  color: white;
  background: black;
  transition: 0.3s;
}

.alert {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
}

.select {
  padding: 5px 15px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 10px;
  min-height: 38px;
  min-width: 233px;
}
